.section {
  padding: 50px 0px 60px 0px;
}

.section.dark {
  background-color: var(--main-dark-bg-clr);
}

.section.light {
  background-color: var(--main-light-bg-clr);
}

.container {
  width: 100%;
  padding: 20px;
}

@media screen and (min-width: 480px) {
  .section {
    padding: 60px 0px 75px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: var(--container-large);
    margin: 0 auto;
    padding: 0px 25px;
  }
}
