.wrap {
  width: 100%;
  margin: 0px auto 60px auto;
}

.dots {
  display: flex;
  align-items: center;
  gap: 10px;

  width: fit-content;
  margin: 40px auto 0px auto;
}

.sliderItem {
  width: 320px;
}

.buttonDot {
  width: 20px;
  height: 10px;

  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--main-light-bg-clr);

  cursor: pointer;

  transition: all var(--transition-duration);
}

.buttonDot.active {
  background-color: var(--primary-clr);
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 480px) {
  .sliderItem {
    width: 350px;
  }
}
